@model CompositeModel
@{
    ViewData["Title"] = "Details of reservation";
}
<h1>Details of reservation</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>City</th>
                <th>Address</th>
                <th>Owner</th>
                <th>Room</th>
                <th>Price</th>
                <th>Number of nights</th>
                <th>Amount</th>
                <th>Received by</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.reservation.Date</td>
                <td>@Model.reservation.City</td>
                <td>@Model.reservation.Address</td>
                <td>@Model.reservation.Owner</td>
                <td>@Model.reservation.RoomId</td>
                <td>@Model.reservation.Price</td>
                <td>@Model.reservation.NumberOfNights</td>
                <td>@(Model.reservation.Price * Model.reservation.NumberOfNights)</td>
                <td>@Model.userName</td>
            </tr>            
        </tbody>
    </table>
</div>