@model PagingList<Room>
@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms</h1>
<div class="my-btn" style="text-align:left; margin-left:0">
    <a asp-action="CreateRoom" asp-controller="Room"
       class="btn btn-secondary" style="width:auto">
        Add new room
    </a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Price</th>
                <th>Max people</th>
                <th></th>
        </thead>
        <tbody>
            @foreach (var room in Model.Data)
            {
                <tr>
                    <td>@room.RoomNumber</td>
                    <td>@room.Price</td>
                    <td>@room.MaxPeopleNumber</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Room" asp-action="UpdateRoom" asp-route-id=@room.Id>Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Rooms page navigation">
    <ul class="pagination justify-content-center">
        @if (Model.IsPrevious)
        {
                <li class="page-item">
                    <a class="page-link"
               asp-controller="Home"
               asp-action="Index"
               asp-route-page="@(Model.Page-1)"
               asp-route-size="@Model.Size">
                        Previous
                    </a>
                </li>
        }
        else
        {
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
        }
        <li class="page-item disabled">
            <a class="page-link">@Model.Page</a>
        </li>
        @if (Model.IsNext)
        {
                <li class="page-item">
                    <a class="page-link"
               asp-controller="Home"
               asp-action="Index"
               asp-route-page="@(Model.Page+1)"
               asp-route-size="@Model.Size">
                        Next
                    </a>
                </li>
        }
        else
        {
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
        }
    </ul>
</nav>
